.header {
    width: 7.2rem;
    height: 1.13rem;
    background: #c50206;
    line-height: 1.13rem;
    padding: 0 0.48rem;
    box-sizing: border-box;

    .header-right{
        font-size: 17px;
        font-weight: 300;
        color: #fff;
    }
}
.swiper {
    .swiper-wrap {
        height: 2.92rem;
    }
}